.path-0 {
	animation: pathAnim-0 4s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

.waveProfile {
	position: relative;
	bottom: 110px;
}

@keyframes pathAnim-0 {
	0% {
		d: path(
			"M 0,400 L 0,150 C 84.6265888010993,113.05255925798696 169.2531776021986,76.1051185159739 230,77 C 290.7468223978014,77.8948814840261 327.613878392305,116.63208519409139 391,117 C 454.386121607695,117.36791480590861 544.2913088285812,79.36654070766058 611,76 C 677.7086911714188,72.63345929233942 721.22088629337,103.90175197526625 787,125 C 852.77911370663,146.09824802473375 940.8251459979388,157.0264513912745 1010,165 C 1079.1748540020612,172.9735486087255 1129.4785297148746,177.99244245963584 1198,175 C 1266.5214702851254,172.00755754036416 1353.2607351425627,161.00377877018207 1440,150 L 1440,400 L 0,400 Z"
		);
	}

	25% {
		d: path(
			"M 0,400 L 0,150 C 61.87083476468567,123.50188938509103 123.74166952937134,97.00377877018207 195,110 C 266.25833047062866,122.99622122981793 346.90415664720035,175.48677430436277 421,186 C 495.09584335279965,196.51322569563723 562.6417038818274,165.04912401236686 623,139 C 683.3582961181726,112.95087598763313 736.5290278254897,92.31672964616972 805,82 C 873.4709721745103,71.68327035383028 957.2421848162144,71.68395740295428 1036,85 C 1114.7578151837856,98.31604259704572 1188.502232909653,124.94744074201307 1255,138 C 1321.497767090347,151.05255925798693 1380.7488835451736,150.52627962899345 1440,150 L 1440,400 L 0,400 Z"
		);
	}

	50% {
		d: path(
			"M 0,400 L 0,150 C 73.69701133631057,120.17794572311921 147.39402267262113,90.35589144623842 217,115 C 286.60597732737887,139.64410855376158 352.1209206458261,218.75437993816558 418,222 C 483.8790793541739,225.24562006183442 550.1222947440742,152.6265888010993 617,128 C 683.8777052559258,103.3734111989007 751.3899003778771,126.73926485743726 822,140 C 892.6100996221229,153.26073514256274 966.3181037444178,156.4163517691515 1043,169 C 1119.6818962555822,181.5836482308485 1199.337684644452,203.5953280659567 1266,202 C 1332.662315355548,200.4046719340433 1386.331157677774,175.20233596702167 1440,150 L 1440,400 L 0,400 Z"
		);
	}

	75% {
		d: path(
			"M 0,400 L 0,150 C 75.21126760563382,167.85228443833734 150.42253521126764,185.7045688766747 220,200 C 289.57746478873236,214.2954311233253 353.52112676056333,225.03400893163862 426,198 C 498.47887323943667,170.96599106836138 579.492957746479,106.15939539677086 643,106 C 706.507042253521,105.84060460322914 752.5070422535211,170.32840948127793 806,188 C 859.4929577464789,205.67159051872207 920.4788732394368,176.52696667811747 995,165 C 1069.5211267605632,153.47303332188253 1157.5774647887322,159.56372380625214 1234,160 C 1310.4225352112678,160.43627619374786 1375.211267605634,155.21813809687393 1440,150 L 1440,400 L 0,400 Z"
		);
	}

	100% {
		d: path(
			"M 0,400 L 0,150 C 84.6265888010993,113.05255925798696 169.2531776021986,76.1051185159739 230,77 C 290.7468223978014,77.8948814840261 327.613878392305,116.63208519409139 391,117 C 454.386121607695,117.36791480590861 544.2913088285812,79.36654070766058 611,76 C 677.7086911714188,72.63345929233942 721.22088629337,103.90175197526625 787,125 C 852.77911370663,146.09824802473375 940.8251459979388,157.0264513912745 1010,165 C 1079.1748540020612,172.9735486087255 1129.4785297148746,177.99244245963584 1198,175 C 1266.5214702851254,172.00755754036416 1353.2607351425627,161.00377877018207 1440,150 L 1440,400 L 0,400 Z"
		);
	}
}
